npm install react-router-dom

npm install charts.js
npm install react-chartjs-2

npm install @emotion/react @emotion/styled @mui/x-data-grid @mui/icons-material 

npm install styled-components

npm install react-table

npm install antd --save
npm install react-icons