html, body, #root, .app {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .full-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .form-content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
  }
  